body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    max-width: 500px;
    border: 1px solid black;
}

nav{
    /* width: 475px; */
    /* width: 100vw; */
}

.profilePhoto{
    position: relative;
    margin-bottom: 12vh;
}

img.profilePhotoImage{
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80vw;
    height: 110%;
    object-fit: cover;
    z-index: 2; 
}

.profileName{
    position: absolute;
    left: 15%;
    bottom: -15%;
    color: white;
    /* width: 70%; */

    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    /* font-size: 4.5rem; */
    font-size: 4.5rem;
}


.backgroundDiv{
    z-index: 1;
    height: 50vh;
    background-color: #2596be;
    transform: translateY(-320px) skewY(-30deg);
}



h1{
    /* font-size: 3rem; */
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
}


.aboutMe{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 60px;
    width: 100vw;
}

.aboutMeHeading , .workTitleHeading{
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    padding-bottom: 3vh; */

    text-align: center;
    margin-bottom: -40px;
}



.profileLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

i.Icons{
    font-size: 2rem;
}

i{
    font-size: 2rem;

}

.aboutMePara{
    border: 1px solid black;

    font-size: 1.7rem;
    color: grey;
    padding: 10vw;
    padding-top: 0;
}

main{
    padding-top: 20%;
}

.topLayer{
    display: flex;
    justify-content: space-between;

}

.projectCard{
    height: auto ;
    width: 80vw;
    /* border: 1px solid black; */
    margin-bottom: 10%;
    box-shadow: 5px 5px 5px grey;
    margin-top: 7vh;

    font-size: 1rem;
}

.projectScreenshot{
    height: 20vh;
    background-color: violet;
}

.projectInfo{
    padding: 5%;
}

.projectLinks{
    display: flex;
    align-items: center;
    gap: 20px;
}



.projectDescription{
    font-size: 1.2rem;

}

.contactInfo{
    background-color: #2596be;
    color : white;
    margin-top: 50px;
    width: 100vw;

}

.contactHeading{
    display:  flex;
    flex-direction: column;
    padding: 5vw;
    align-items: left;
    gap: 20px;
    
}

img.footerProfilePhotoImage{
    width: 100vw;
    height: 60vh;
    object-fit: cover;
}

.contactInfoSpan{
    font-size: 1.5rem;

}